@page "/lc"
<h3>LifeCycle</h3>
<button @onclick="klick">klick</button>
@code {
    protected override void OnInitialized()
    {

    }
    protected override void OnAfterRender(bool firstRender)
    {
    }
    void klick()
    {
        
    }

}
