@page "/kunde/{CustomerId}/edit"
@using BlazorTraining244048.Models
@inject NorthwindContext VM

<h3>KundenEdit</h3>


<input @bind="FormVM.CompanyName"/>


@code {
    [Parameter]
    public string CustomerId { get; set; }
    Customer FormVM = new();
    protected override void OnInitialized()
    {

        FormVM = VM.Customers.Find(CustomerId);

    }

  
}
