@page "/todo"
@inject ToDoVM VM
<h3>ToDoView</h3>
<div class="container">
    <div class="row">
        <div class="col">
            <form method="post" @onsubmit="filter">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Filter" @bind="Eingabe">
                    <button class="btn btn-outline-secondary" type="submit" >Filter</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true">Todos</li>

                @foreach (var item in VM.TodoO.todos.Where(x => x.todo.Contains(Eingabe, StringComparison.CurrentCultureIgnoreCase)))
                {

                    <li @key="item.id" class='list-group-item  @(item.completed?"list-group-item-dark":"") '>
                        @item.todo
                    </li>
                }
            </ul>
        </div>
    </div>

</div>
@code {
    string Eingabe = "";
    void filter()
    {

    }
}
